.companyCard {
    transition: all 0.1s ease-in-out;
}

.companyCard:hover {
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid #1985a1;
    scale: 1.009;
}



.ventureOwner img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;

}

.venturePageCollapse {

    background: #33344b;
    box-shadow: inset 7px 7px 14px #14151e,
        inset -7px -7px 14px #525378;
}