.authContainer {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%; */
    /* positon on center of the page  */
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background: #f2f2f2;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    padding: 40px;


    border-radius: 45px;
    background: #ffffff;
    box-shadow: inset 10px 10px 20px #666666,
                inset -10px -10px 20px #ffffff;

    
    /* border-radius: 17px;
    background: #ffffff;
    box-shadow: inset 5px 5px 25px #666666,
        inset -5px -5px 25px #ffffff; */

}