.forumCardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0em 1em 0em 0em;
    width: 100%;
    max-width: 1200px;
    border: 1px solid #3e405a;
    height: max-content;
    transition: all 0.2s ease-in-out;


}

.forumCardsContainer:hover {
    transition: 0.2s ease-in-out;
    border-radius: 0px;
    scale: 1.5;

    box-shadow: -5px -5px 14px #101016,
        5px 5px 4px #3e405a;
}



.profileImage img {
    max-width: 7em;
    height: 100%;
    object-fit: cover;

}