.forumCardParent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: max-content;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

}

.forumCardParent:hover {
    border-bottom: 5px solid #1985a1;
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;

}

.comment:hover {
    border-bottom: 0.5px solid #1985a1;
    transform: scale(1.009);
    transition: all 0.3s ease-in-out;

}


.profileImage img {
    max-width: 7em;
    height: 100%;
    object-fit: cover;

}