/* html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
} */


/* 
body {
  background: linear-gradient(250deg, #7b2ff7, #f107a3);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
} */



/* ul,
li { */
  /* list-style: none;
  margin: 0;
  padding: 0; */
/* } */

.LandingDetailCards {
  /* width: 400px; */
  display: flex;
  flex-direction: column;
  /* background: white; */
  /* padding: 20px; */
  border-radius: 25px;
}

.itemList {
  background-color: rgba(218, 216, 216, 0.512);
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
}

.itemList:last-child {
  margin-bottom: 0px;
}

.circleShimmer {
  width: 40px;
  height: 40px;
  background-color: #666;
  border-radius: 20px;
}

