
/* .LandingDetailCards {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
} */

.itemList {
  background-color: rgba(218, 216, 216, 0.512);
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
}

.itemList:last-child {
  margin-bottom: 0px;
}

.circleShimmer {
  width: 40px;
  height: 40px;
  background-color: #666;
  border-radius: 20px;
}

