.ChanelsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;



}

.channels h6 {
    /* border: 1px solid #3e405a; */

    font-size: 1em;
    font-weight: 500;
    border: 1px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    /* padding: 1em; */
}

.channels h6:hover {
    scale: 1.1;
    transition: all 0.3s ease-in-out;
    background-color: #3e405a;
    border-radius: 1%;
    cursor: pointer;
    font-weight: 700;
}