/* --raisin-black: #272838ff;
--buff: #f3de8aff;
--vivid-tangerine: #eb9486ff;
--rhythm: #7e7f9aff;
--cultured: #f9f8f8ff; */


.filterContainer {

}
.page{
    display: flex;
    justify-content: center;
}


.mainPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 2%;
}

.searchInput input {
    width: 100%;
    border: 1px solid #f9f8f8ff;
    padding-right: 20px;
    border-radius: 0.5em;
    background-attachment: fixed;
    background-color: #bfc0c0;
}

.searchInput input:focus {
    background-color: #1985a1;
    color: #f9f8f8ff;
    outline: none;

}