.debutEventsCardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #3e405a;
    height: max-content;
    transition: all 0.2s ease-in-out;

}

.debutEventsCardsContainer:hover {
    transition: 0.2s ease-in-out;
    border-radius: 0px;
    scale: 1.5;
    background: linear-gradient(315deg, #2a2b3c, #232432);
    box-shadow: -5px -5px 14px #101016,
        5px 5px 4px #3e405a;
}

.debutEventsCardsContainer img {
    width: 70%;
    height: 100%;
    object-fit: cover;
}



.eventOwner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.eventOwner img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    padding-bottom: 2px;

}