/* --raisin-black: #272838ff;
--buff: #f3de8aff;
--vivid-tangerine: #eb9486ff;
--rhythm: #7e7f9aff;
--cultured: #f9f8f8ff; */



.HomeHeaderElement {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0.5em 20px;
    height: max-content;
    /* margin-bottom: 2em; */

    border-radius: 14px;
    background: #272838;
    box-shadow: -5px -5px 7px #101016,
        5px 5px 7px #3e405a;

}


.headerSearchComponent input {
    background: #272838;
    color: #fff;
    font-size: 1em;
    font-family: 'Comfortaa', cursive;
    height: 1.3em;
    border: none;
}

.headerSearchComponent input:focus {
    outline: none;
    background: #272838;
    color: #fff;
    border: 1px solid #fff;
}

.headerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: #ffc107;
    text-align: center;
    justify-content: center;
    font-family: 'Bungee Shade', cursive;
    transition: all 0.5s ease-in-out;
}


.sideBarContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    /* hide scroll bar  */
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* hide scroll bar  */
    border: 1px solid #7e7f9aff;
    border-radius: 2%;
    height: 90vh;

    padding: 1em;

}

.pageView {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    /* hide scroll bar  */
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* hide scroll bar  */
    border: 1px solid #7e7f9aff;
    border-radius: 2%;
    height: 90vh;

    padding: 1em;

}