




* {
  margin: 0px;
  padding: 0px;
}

.App {
  color: #1985a1;
  font-family: 'inter', sans-serif;
}

.App input {
  border: none;
  border-radius: 5px;
  background-color: #eaeaea;
  color: #1985a1;
  border: 1px solid #e7ecef;
  font-family: 'Comfortaa', cursive;

}

.App input:focus {
  outline: none;
  background-color: #1985a1;
  color: #f5f5f5;

  border: 1px solid #f5f5f5;


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.MyeventCardActive {
  transition: all 0.2s ease-in-out;
  border-bottom: 3px solid #1985a1;
  transform: scale(1.01);
  background-color: rgb(231, 229, 229);
  border-radius: 5px;

  transition: all 0.2s ease-in-out;


}

.MyeventCard:hover {
  transition: all 0.2s ease-in-out;
  border-bottom: 3px solid #1985a1;
  /* background-color: rgb(231, 229, 229); */
  border-radius: 5px;
  transition: all 0.2s ease-in-out;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}






@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}







.App {
  display: flex;

  align-items: stretch;

}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}